
* {
  box-sizing: border-box;
}

body {
  background: lightgray;
}

.widget {
  border: 1px solid tomato;
  padding: 25px;
  position: fixed;
  overflow: hidden;
  pointer-events: none;
  &.widget-top-left {
    top: 0;
    left: 0;
  }
  &.widget-top-right {
    top: 0;
    right: 0;
  }
  &.widget-bottom-left {
    left: 0;
    bottom: 0;
  }
  &.widget-bottom-right {
    right: 0;
    bottom: 0;
  }
}

.slider {
  width: 175px;
  height: 130px;
  transition: 150ms ease;
}

.slider {
  display: flex;
  flex-wrap: nowrap;
  &, &.slider-direction-vertical {
    flex-direction: column !important;
    &[data-slide='collapsed'] {
      transform: translateY(0);
    }
    &, &[data-slide='main'] {
      transform: translateY(-100%);
    }
    &[data-slide='expanded'] {
      transform: translateY(-200%);
    }
  }
  &.slider-direction-horizontal {
    flex-direction: row !important;
    &[data-slide='collapsed'] {
      transform: translateX(0);
    }
    &, &[data-slide='main'] {
      transform: translateX(-100%);
    }
    &[data-slide='expanded'] {
      transform: translateX(-200%);
    }
  }
}


.slide {
  border: 1px solid #000;
  flex: 1 0 100% !important;
  display: flex;
  transition: .1s ease;
  opacity: 0;
  .slider:not([data-slide]) &[data-slide='main'] {
    opacity: 1;
    * {
      pointer-events: initial;
    }
  }
  @each $slide in 'main', 'collapsed', 'expanded' {
    [data-slide='#{$slide}'] &[data-slide='#{$slide}'] {
      opacity: 1;
      * {
        pointer-events: initial;
      }
    }
  }
  .widget-top-left & {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .widget-top-right & {
    align-items: flex-start;
    justify-content: flex-end;
  }
  .widget-bottom-left & {
    align-items: flex-end;
    justify-content: flex-start;
  }
  .widget-bottom-right & {
    align-items: flex-end;
    justify-content: flex-end;
  }
}
